<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en">

<title th:text="#{user.management.title}"></title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<link rel="stylesheet" type="text/css"
	href="../static/css/usermanagement.css"
	th:href="@{/css/usermanagement.css}"></link>

</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<!-- User create form -->
		<div class="div-form">
			<h2 th:text="#{user.management.form.create}"></h2>
			<form th:object="${newUser}" th:action="@{/admin/userManagement/add}"
				method="post">
				<input type="text" class="newuser-input" pattern=".{4,}"
					th:title="#{user.attr.username.pattern}" required="required"
					th:placeholder="#{user.attr.username}" th:field="*{username}" />
				<input type="text" class="newuser-input"
					th:title="#{user.attr.email.pattern}" pattern=".+@.+\..{2,}"
					required="required" th:placeholder="#{user.attr.email}"
					th:field="*{email}" />
				<input type="password" class="newuser-input" pattern=".{6,}"
					th:title="#{user.attr.password.pattern}" required="required"
					th:placeholder="#{user.attr.password}" th:field="*{password}" />
				<ul class="ul-radio">
					<li
						th:each="roletype : ${T(net.raza.core.enums.RoleEnum).values()}">
						<input type="radio" th:field="*{role}" th:value="${roletype}" />
						<label th:text="#{${roletype.key}}"></label>
					</li>
				</ul>
				<button type="submit" class="btn btn-default"
					th:text="#{core.create}"></button>
			</form>
		</div>

		<!-- Users table  -->
		<div class="div-table">
			<h4 th:if="${#lists.isEmpty(users)}"
				th:text="#{user.management.table.empty}"></h4>
			<div th:if="${not #lists.isEmpty(users)}">
				<h2 th:text="#{user.management.table.title}"></h2>
				<table class="table table-striped">
					<tr>
						<th th:text="#{user.attr.username}"></th>
						<th th:text="#{user.attr.email}"></th>
						<th th:text="#{user.attr.role}"></th>
						<th style="text-align: center;" th:text="#{core.operations}"
							colspan="3" />
					</tr>
					<tr th:each="user : ${users}">
						<td th:text="${user.username}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.role}"></td>
						<td><a href="#" th:text="#{core.edit}"
								th:href="@{/admin/userManagement/manage/{id}(id=${user.id}, operation='edit')}">Edit</a></td>
						<td><a href="#" th:text="#{core.view}"
								th:href="@{/admin/userManagement/manage/{id}(id=${user.id}, operation='view')}">View</a></td>
						<td><a th:text="#{core.delete}"
								th:href="@{/admin/userManagement/manage/{id}(id=${user.id}, operation='delete')}">Delete</a></td>
					</tr>
				</table>
			</div>
		</div>


		<div id="userDialog" class="modalDialog">
			<div style="text-align: center;">
				<a href="#close" title="Close" class="close">x</a>
				<h2
					th:text="${operation} == 'edit' ? #{user.management.form.edit} : #{user.management.form.view}"></h2>
				<form th:object="${managedUser}"
					th:action="@{/admin/userManagement/edit}" method="post">
					<input type="text" class="newuser-input" pattern=".{4,}"
						th:title="#{user.attr.username.pattern}" required="required"
						th:readonly="${operation == 'view'}"
						th:placeholder="#{user.attr.username}" th:field="*{username}" />
					<input type="text" class="newuser-input"
						th:title="#{user.attr.email.pattern}" pattern=".+@.+\..{2,}"
						required="required" th:readonly="${operation == 'view'}"
						th:placeholder="#{user.attr.email}" th:field="*{email}" />
					<input type="password" class="newuser-input" pattern=".{6,}"
						th:title="#{user.attr.password.pattern}"
						th:if="${operation == 'edit'}"
						th:placeholder="#{user.attr.password}" th:field="*{password}" />
					<ul class="ul-radio">
						<li
							th:each="roletype : ${T(net.raza.core.enums.RoleEnum).values()}">
							<input type="radio" th:field="*{role}" th:value="${roletype}"
								th:disabled="${operation == 'view'}" /> <label
							th:text="#{${roletype.key}}"></label>
						</li>
					</ul>

					<button type="submit" class="btn btn-default"
						th:if="${operation == 'edit'}" th:text="#{core.edit}"></button>
				</form>
			</div>
		</div>

		<div id="deleteDialog" class="modalDialog">
			<div style="text-align: center;">
				<a href="#close" title="Close" class="close">x</a>
				<form th:object="${managedUser}"
					th:action="@{/admin/userManagement/delete/{id}(id=${managedUser.id})}">
					<h2
						th:text="|#{user.management.form.delete}: ${managedUser.username}|"></h2>
					<p class="confirm-message" th:text="#{core.message.confirm}"></p>
					<button type="submit" class="btn btn-default"
						th:text="#{core.delete}"></button>
				</form>
			</div>
		</div>

	</div>
</body>
</html>