<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<!-- This is the application's admin-panel layout. Built using Thymeleaf's Layout Dialect -->
<!-- Reference: http://flatfull.com/themes/flatkit/html/dashboard.html -->

<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"
	th:text="#{core.title}">[Core Spring]</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Common CSS includes. -->
<!-- OBS: Whenever another page extends this layout, those includes will be prepended to that page. -->
<!-- OBS: JavaScript includes after the <body> tag -->

<!-- Bootstrap CSS include and Meta configuration -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />

<!-- Font Awesome Icons -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- Main CSS include -->
<link href="../static/main.css" th:href="@{/css/main.css}"
	rel="stylesheet" />

</head>

<body>

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">

				<!-- Navbar Menu-toggling button -->
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<!-- Span for screen readers -->
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- Leftmost brand presentation -->
				<a class="navbar-brand" href="../templates/" th:href="@{/}">Core
					Spring</a>

			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">

					<li>
						<a href="../templates/public/login.html"
							th:href="@{/public/login}" th:text="#{core.login}">Log-in</a>
					</li>

					<li sec:authorize="hasAuthority('ROLE_RIGHT_SUPER')">
						<a href="../templates/admin/userManagement.html"
							th:href="@{/admin/userManagement}">User Management</a>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Themes
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Admin &amp; Dashboard</li>
							<li>
								<a href="#">Admin 1</a>
							</li>
							<li>
								<a href="#">Admin 2</a>
							</li>
							<li class="divider"></li>
							<li class="dropdown-header">Portfolio</li>
							<li>
								<a href="#">Portfolio 1</a>
							</li>
							<li>
								<a href="#">Portfolio 2</a>
							</li>
						</ul>
					</li>


					<li sec:authorize="isAuthenticated()">
						<div class="navbar-sessionpanel">
							<span th:text="#{core.hello} + ', ' + ${username}">Hello,
								username!</span>
							<a id="logout-anchor" href="#" th:href="@{/logout}"
								th:text="#{core.logout}">Logout</a>
						</div>
					</li>

				</ul>
			</div>


		</div>
	</div>


	<section>
		<div layout:fragment="content" class="main-content">
			<p>Page content goes here. This is a dynamic element, so this
				shall be replaced.</p>
		</div>
	</section>




	<!-- JQuery include -->
	<script src="https://code.jquery.com/jquery-2.2.2.min.js"
		integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
		crossorigin="anonymous"></script>

	<!-- Bootstrap JS include -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>

</body>

</html>