<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<!-- This is the application's main layout. Built using Thymeleaf's Layout Dialect -->


<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"
	th:text="#{core.title}">[Core Spring]</title>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Common includes. -->
<!-- Whenever another page extends this layout, those includes will be prepended to that page. -->

<!-- Bootstrap CSS include -->
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" />

<!-- JQuery include -->
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


<!-- Main CSS include -->
<link href="../static/main.css" th:href="@{/css/main.css}"
	rel="stylesheet" />

</head>

<body>

	<!-- Main navbar -->
	<nav class="navbar navbar-inverse">
		<div class="main-container row">
			<div class="navbar-header col-lg-9">
				<a class="navbar-brand" href="../templates/" th:href="@{/}">Home</a>
				<ul class="nav navbar-nav">
					<li><a href="../templates/public/login.html"
						th:href="@{/public/login}" th:text="#{core.login}">Log-in</a></li>
					<li sec:authorize="hasAuthority('ROLE_RIGHT_SUPER')"><a
						href="../templates/admin/userManagement.html"
						th:href="@{/admin/userManagement}">User Management</a></li>
				</ul>
			</div>
			<div class="col-lg-3 pull-right" sec:authorize="isAuthenticated()">
				<span th:text="#{core.hello} + ', '">Hello, </span>
				<span sec:authentication="principal.username">username</span>
				
				<a class="logout-anchor" href="#" th:href="@{/logout}"
					th:text="#{core.logout}"></a>
			</div>
		</div>
	</nav>


	<!-- Optional Campaign Slot -->
	<section layout:fragment="campaign"></section>


	<section>
		<div layout:fragment="content" class="main-content">
			<p>Page content goes here. This is a dynamic element, so this
				shall be replaced.</p>
		</div>
	</section>


	<footer>
		<div class="main-container">
			<p>---------------------------- FOOTER
				----------------------------</p>
		</div>
	</footer>
</body>

</html>