.navbar-inverse {
	color: white;
}

footer {
	width: 100%;
	height: 150px;
	display: block;
	background-color: grey;
}

@media (max-width: 768px) {
	.navbar-sessionpanel {
		padding: 10px 15px;
		height: 100%;
		line-height: 20px;
	}
}

@media (min-width: 768px) {
		.navbar-sessionpanel {
		padding: 15px 10px;
		height: 100%;
		line-height: 20px;
	}
}

#logout-anchor {
	transition: all 0.2s ease;
	color: gray;
	display: inline;
}

#logout-anchor:hover {
	color: aqua;
	text-decoration: underline;
}